{%extends 'base.html'%}

{%block title%}Create Feedback Page{%endblock%}

{%block content%}

<div class="container">
    <h2>Create New Feedback</h2>

    {%if 'user_username' not in session%}
    <div class="container">
        <h1>You must be logged in to view this page</h1>
    </div>
    {% endif %}

    {%if 'user_username' in session%}

    <form method = "POST" id="newUserForm">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type !='hidden'%}
        
        <p>
            {{field.label}}
            {{field(class = "form-control")}}
            
            {%for error in field.errors%}
            {{error}}
            {%endfor%}
        </p> 
        
        {%endfor%}
        
        <button id = "registerUser" class="btn btn-primary btn-lg">Submit Feedback</button>
        
    </form>
    
</div>
{% endif %}

{%endblock%}
