{%extends 'base.html'%}

{%block title%}Login Page{%endblock%}

{%block content%}


<div class="container">
    <h2>Log In</h2>
    {%with messages = get_flashed_messages (with_categories = true)%}
    {%if messages%}
        {%for category, msg in messages%}
            <p class ={{category}}>{{msg}}</p>
        {%endfor%}
    {%endif%}
    {%endwith%}
    
    <form method = "POST" id="loginForm">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type !='hidden'%}
        
        <p>
            {{field.label}}
            {{field(class = "form-control")}}
            
            {%for error in field.errors%}
            {{error}}
            {%endfor%}
        </p> 
        
        {%endfor%}
        
        <button id = "loginUser" class="btn btn-primary btn-lg">Log In</button>
        
    
</div>

{%endblock%}
